@import url('fonts-poppins.css');
@import url('fonts-courgette.css');
.bg-mattBlackLight {
    background-color: #303337;
}

.text-mattBlackLight {
    color: #303337;
}

.bg-mattBlackDark,
.nav-link:hover,
.nav-link.active,
body {
    background-color: #212121;
}

.text-mattBlackDark {
    color: #212121;
}

.bg-mattGray {
    background-color: #878d8d;
}

.text-mattGray,
.nav-link .text,
.nav-link .icon,
body {
    color: #878d8d;
}

.bg-mattRed {
    background-color: #ec6271;
}

.text-mattRed,
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: #303337;
    background-color: #ec6271;
    border-color: #dee2e6 #dee2e6 #fff;
}

.text-mattRed,
.nav-link:hover .icon,
.nav-link:hover .text,
.nav-link.active .icon,
.nav-link.active .text {
    color: #ec6271;
}

* {
    font-family: "Poppins", sans-serif;
}

body {
    height: 1000px;
}

.wrapper {
    margin-top: 3.5rem;
}

.wrapper .sideMenu {
    position: fixed;
    top: 0;
    bottom: 0;
    margin: 3.5rem auto auto;
    left: 0;
    width: 12.5rem;
    transition: all ease 0.25s;
    transform: translateX(-100%);
    z-index: 2000;
}

.wrapper .content {
    width: 100%;
    margin-left: 0rem;
    transition: all ease 0.25s;
}

.wrapper.active .sideMenu {
    transform: translateX(0);
}

.nav-link {
    align-items: center;
    display: block;
    white-space: nowrap;
}

.nav-link .icon {
    margin-right: 0.25rem;
    font-size: 1.875rem;
    vertical-align: middle;
    height: 2rem;
    width: 2rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.nav-link .text {
    font-size: 0.875rem;
}

.table {
    border-bottom: #999999 solid 1px;
    width: 100%;
    margin-bottom: 20px;
}

.table th,
.table td {
    border-right: #999999 solid 1px;
    border-left: #999999 solid 1px;
    font-size: 13px;
    padding: 5px;
    line-height: 15px;
    text-align: left;
    vertical-align: middle;
}

.table td:last-child {
    border-right: #999999 solid 1px;
}

.table thead th {
    font-weight: normal;
    background-color: #222;
    color: #fff;
    font-size: 13px;
}

.table tbody>tr:nth-child(odd)>td,
.table tbody>tr:nth-child(odd)>th {
    background-color: #303337;
}

@media (min-width: 992px) {
    .wrapper .sideMenu {
        transform: translateX(0);
    }
    .wrapper .content {
        margin-left: 12.5rem;
    }
    .wrapper.active .sideMenu {
        width: 5rem;
    }
    .wrapper.active .sideMenu .nav-link {
        text-align: center;
    }
    .wrapper.active .sideMenu .nav-link .icon {
        margin-right: 0;
    }
    .wrapper.active .sideMenu .nav-link .text {
        display: none;
    }
    .wrapper.active .content {
        margin-left: 5rem;
    }
}

#blanket,#aguarde {
    position: fixed;
    display: none;
}

#blanket {
    left: 0;
    top: 0;
    background-color: #f0f0f0;
    filter: alpha(opacity =         65);
    height: 100%;
    width: 100%;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";
    opacity: 0.65;
    z-index: 9998;
}

#aguarde {
    width: auto;
    height: 30px;
    top: 40%;
    left: 45%;
    background: url('../img/giphy.gif') no-repeat 0 50%;
    line-height: 30px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 9999;
    padding-left: 27px;
}

@-webkit-keyframes spinning {
    from {transform: rotate(0deg);}
    to   {transform: rotate(180deg);}
}
@keyframes spinning {
    from {transform: rotate(0deg);}
    to   {transform: rotate(180deg);}
}
.square {
    width: 50px;
    height: 50px;
    border-width: 5px;
    border-style: solid;
    border-color: #999 #ccc;
    border-radius: 50px;
    -webkit-animation: spinning 0.75s infinite linear;
    animation: spinning 0.75s infinite linear;
}